@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-inline: 24px;
  padding-top: 23px;
  margin-bottom: 64px;
  max-width: 375px;
  margin-inline: auto;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  display: block;
}

.logo a {
  display: inline-block;
  background-color: #e8eff2;
  padding-block: 11px;
  padding-inline: 14px;
  border-radius: 8px;
  text-decoration: none;
  font-family: Barlow;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #162542;
}

main {
  max-width: 375px;
  margin-inline: auto;
  padding-inline: 24px;
}

main h1 {
  font-family: Barlow;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #162542;
  margin-bottom: 32px;
}

main p {
  font-family: Barlow;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #7b8bad;
  margin-bottom: 32px;
  max-width: 327px;
}

main .btn-text {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
  max-width: 325px;
}

main .btn-text a {
  background-color: #f16718;
  padding-block: 11px;
  padding-inline: 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
  font-family: Barlow;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

main .btn-text p {
  font-family: Barlow;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #7b8bad;
  position: relative;
  top: 16px;
}

main .mobil-img {
  border-radius: 10px 0 0 10px;
  margin-bottom: 24px;
}

.imagess {
  margin-bottom: 111px;
  max-width: 375px;
  margin-inline: auto;
}

.imagess .text-inner {
  display: flex;
  margin-bottom: 75px;
}

.imagess .text-inner h1 {
  font-family: Barlow;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #162542;
  margin-bottom: 24px;
}

.imagess .text-inner p {
  font-family: Barlow;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #7b8bad;
}
.imagess .mbl-img:nth-child(2) {
  margin-left: 24px;
}

.imagess .text-inner {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  margin-inline: 24px;
  align-items: center;
  justify-content: center;
  max-width: 375px;
}

.imagess .text-inner h1,
.imagess .text-inner p {
  text-align: center;
}
.cards {
  max-width: 375px;
  margin-inline: auto;
}

.cards h1 {
  margin-inline: 60px;
  font-family: Barlow;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.cards p {
  font-family: Barlow;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #7b8bad;
}

.card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
}

.card img {
  background-color: #f16718;
  width: 65px;
  height: 65px;
  opacity: 1;
  border-radius: 16px;
  padding-block: 22px;
  padding-inline: 22px;
  margin-bottom: 48px;
  margin-inline: 155px;
}

.card h3 {
  text-align: center;
  margin-bottom: 24px;
  font-family: Barlow;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #162542;
}

.card p {
  font-family: Barlow;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  margin-inline: 24px;
  margin-bottom: 111px;
  text-align: center;
  color: #7b8bad;
}

footer {
  margin-bottom: 50px;
  max-width: 375px;
  margin-inline: auto;
}

footer p {
  text-align: center;
  font-family: Barlow;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #7b8bad;
}

main .tablet-img,
main .desktop-img {
  display: none;
}

.images-inner .tbl-img,
.images-inner .pc-img {
  display: none;
}

@media (width>= 768px) {
  main .mobil-img,
  main .desktop-img {
    display: none;
  }
  main .tablet-img {
    display: block;
  }
  .images-inner .mbl-img,
  .images-inner .pc-img {
    display: none;
  }
  .images-inner .tbl-img {
    display: block;
  }

  .tablet-img {
    margin-right: -50px;
  }

  header {
    margin-bottom: 62px;
    padding-inline: 40px;
    padding-top: 40px;
    max-width: 689px;
    margin-inline: auto;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 24px;
    max-width: 689px;
    margin-bottom: 40px;
    margin-inline: auto;
  }

  main .main-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 340px;
    margin-top: 60px;
  }

  main .main-inner p {
    max-width: 339px;
    margin-bottom: 39px;
  }

  main .btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .btn-text a {
    max-width: 175px;
  }
  main .btn-text p {
    max-width: 175px;
  }

  .imagess {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 72px;
    max-width: 768px;
  }

  .imagess .images-inner {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }

  .imagess .text-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    max-width: 678px;
    margin-inline: auto;
  }
  .imagess .text-inner h1 {
    text-align: unset;
  }

  .cards {
    max-width: 631px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 142px;
    gap: 11px;
  }

  .cards .card {
  }

  .cards .card img {
    margin-bottom: 40px;
    margin-inline: 0px;
  }

  .cards .card h3 {
    margin-bottom: 24px;
    max-width: 339px;
    text-align: start;
    max-height: 56px;
  }
  .cards .card p {
    max-width: 281px;
    max-height: 104px;
    margin-bottom: 72px;
    text-align: start;
    margin-inline: 0px;
  }
}

@media (width>=1110px) {
  main .tablet-img,
  main .mobil-img {
    display: none;
  }

  .images-inner .tbl-img,
  .images-inner .mbl-img {
    display: none;
  }
  main .desktop-img {
    display: block;
  }
  .images-inner .pc-img {
    display: block;
  }

  header {
    margin-top: 55px;
    margin-bottom: 83px;
    margin-inline: 165px;
    max-width: 1110px;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1110px;
    margin-inline: 165px;
    padding-inline: 45px;
  }

  main .main-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .main-inner p {
    max-width: 445px;
    margin-bottom: 39px;
  }

  .imagess {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 168px;
    max-width: 1110px;
    margin-inline: 165px;
  }
  .imagess .images-inner{
    display: flex;
    margin-bottom: 0;

  }
  .imagess .text-inner{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 125px;  
  }

  .imagess .text-inner h1{
    width: 255px;
  }
    .imagess .text-inner p{
    width: 245px;
  }


  .imagess .text-inner h1,
   .imagess .text-inner p {
    text-align: start;
}

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 128px;
    margin-inline: 165px;
    max-width: 1110px;
  }
  .cards .card {

    gap: 30px;

  }

 .cards .card img {
    margin-bottom: 48px;
  }
  .cards .card h3 {
    margin-bottom: 24px;
    max-width: 255px;
    max-height: 56px;

  }
  .cards .card p{
    max-width: 255px;
    max-height: 130px;

  }
  footer{
    max-width: 1110px;
    margin-inline: 165px;
  }
}
