@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0 auto;
}


.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  img {
    display: block;
  }
  a {
    display: inline-block;
    background-color: #e8eff2;
    padding-block: 11px;
    padding-inline: 14px;
    border-radius: 8px;
    text-decoration: none;
    font-family: Barlow;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #162542;
  }
}

main {
  h1 {
    font-family: Barlow;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #162542;
    margin-bottom: 32px;
  }
  p {
    font-family: Barlow;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #7b8bad;
    margin-bottom: 32px;
  }

  .btn-text {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;

    a {
      background-color: #f16718;
      padding-block: 11px;
      padding-inline: 14px;
      border-radius: 8px;
      text-decoration: none;
      color: #ffffff;
      font-family: Barlow;
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0px;
      text-transform: uppercase;
    }
    p {
      font-family: Barlow;
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 0px;
      text-transform: uppercase;
      color: #7b8bad;
      position: relative;
      top: 16px;
    }
  }
  img {
    border-radius: 10px 0 0 10px;
    margin-bottom: 24px;
  }
}

.imagess {
  .text-inner {
    h1 {
      font-family: Barlow;
      font-weight: 900;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: 0px;
      text-transform: uppercase;
      color: #162542;
      margin-bottom: 24px;
    }
    p {
      font-family: Barlow;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0px;
      color: #7b8bad;
    }
  }
}

.cards {
  h1 {
    margin-inline: 60px;
    font-family: Barlow;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0px;

    text-transform: uppercase;
  }
  p {
    font-family: Barlow;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;

    color: #7b8bad;
  }
}

.card {
  img {
    background-color: #f16718;
    width: 65px;
    height: 65px;
    opacity: 1;
    border-radius: 16px;
    padding-block: 22px;
    padding-inline: 22px;
  }
  h3 {
    font-family: Barlow;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #162542;
  }

  p {
    font-family: Barlow;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;

    color: #7b8bad;
  }
}

footer {
  margin-bottom: 50px;
  p {
    text-align: center;
    font-family: Barlow;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #7b8bad;
  }
}

@media (width<=767px) {
  main {
    margin-inline: 24px;
  }

  header {
    max-width: 1110px;
    margin-inline: auto;
    padding-inline: 24px;
    padding-top: 23px;
    margin-bottom: 64px;
  }
  .btn-text {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
  }

  .tablet-img {
    display: none;
  }
  .desktop-img {
    display: none;
  }
  .tbl-img {
    display: none;
  }
  .pc-img {
    display: none;
  }
  .imagess {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 111px;

    .images-inner {
      display: flex;
      gap: 24px;
      margin-bottom: 75px;

      img:nth-child(1) {
        margin-left: -24px;
      }
    }
  }
  .text-inner {
    display: flex;
    flex-direction: column;
    margin-inline: 24px;
    align-items: center;
    justify-content: center;
    h1,
    p {
      text-align: center;
    }
  }
  .cards {
    h3 {
      text-align: center;
      margin-bottom: 24px;
    }
    p {
      margin-inline: 24px;
      margin-bottom: 111px;
      text-align: center;
    }
  }
  .card {
    img {
      margin-bottom: 48px;
      margin-inline: 155px;
    }
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
    h3 {
      margin-bottom: 24px;
      text-align: center;
    }
    p {
      margin-inline: 24px;
      margin-bottom: 111px;
      text-align: center;
    }
  }
}

@media (min-width: 768px) and (max-width: 1116px) {
  header {
    margin-bottom: 64px;
    padding-inline: 40px;
    padding-top: 40px;
    margin-bottom: 62px;
    max-width: 1110px;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 24px;
    max-width: 1110px;

    .main-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 34px;

      p {
        max-width: 339px;
        margin-bottom: 39px;
      }
    }
  }
  .pc-img {
    display: none;
  }
  .desktop-img {
    display: none;
  }
  .mobil-img {
    display: none;
  }
  .mbl-img {
    display: none;
  }
  .tablet-img {
    display: block;
    margin-right: -24px;
  }
  .btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagess {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 111px;
    max-width: 1110px;

    .images-inner {
      display: flex;
      gap: 24px;
      margin-bottom: 75px;

      img:nth-child(1) {
        margin-left: -24px;
      }
    }
  }
  .text-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 40px;
  }
  .cards {
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 39px;
    margin-right: 98px;
    gap: 70px;
    margin-bottom: 142px;

    .card {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;

      img {
        margin-bottom: 40px;
      }
      h3 {
        margin-bottom: 24px;
        max-width: 235px;
      }
    }
  }
}

@media (min-width: 1117px) {
  .mbl-img {
    display: none;
  }
  .mobil-img {
    display: none;
  }
  .tablet-img {
    display: none;
  }
  .tbl-img {
    display: none;
  }

  body {
    margin-inline: 165px;
  }

  header {
     max-width: 1110px;
    margin-top: 55px;
    margin-bottom: 83px;
  }
  section{
    max-width: 1110px;
  }

  main {
     max-width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .main-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        max-width: 339px;
        margin-bottom: 39px;
      }
    }
  }
  .btn-text {
    margin-left: -25px;
  }

  .imagess {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 168px;

    .images-inner {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
  }
  .text-inner {
    display: flex;
    flex-direction: column;

    justify-content: center;
    margin-left: 125px;
    p {
      display: flex;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 128px;
    .card {
      display: flex;
      flex-direction: column;

      img {
        margin-bottom: 48px;
      }
      h3 {
        margin-bottom: 24px;
      }
    }
  }
}
